$ConfluenceToken = "longsecretstring"
$ConfluenceDomain = "yoururl.atlassian.net" #'hudu-integrations' would be valid for 'https://www.hudu-integrations.atlassian.net'
$Confluence_Username = "confluence-email@tld.net"
$HuduBaseURL = "https://yoururlhere"
$HuduAPIKey = ""
$ExportConfluenceTables = $false # or set $env:CONFLUENCE_EXPORT_TABLES = "true"
$ConfluenceTableSchemaMatchThreshold = 0.86
. .\Confluence-Migration.ps1
